.message{
    color: red;
    font-size: 50px;
    display: flex;
    margin-bottom: 50px;
    margin-top: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    }

.text{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    margin-left: 10px;
    max-width: 700px; 
}